@import url('https://fonts.googleapis.com/css2?family=Google+Sans+Code:ital,wght,MONO@0,300..800,1;1,300..800,1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css");

:root {
    --ctp-rosewater: #dc8a78;
    --ctp-flamingo: #dd7878;
    --ctp-pink: #ea76cb;
    --ctp-mauve: #8839ef;
    --ctp-red: #d20f39;
    --ctp-maroon: #e64553;
    --ctp-peach: #fe640b;
    --ctp-yellow: #df8e1d;
    --ctp-green: #40a02b;
    --ctp-teal: #179299;
    --ctp-sky: #04a5e5;
    --ctp-sapphire: #209fb5;
    --ctp-blue: #1e66f5;
    --ctp-lavender: #7287fd;
    --ctp-text: #4c4f69;
    --ctp-subtext1: #5c5f77;
    --ctp-subtext0: #6c6f85;
    --ctp-overlay2: #7c7f93;
    --ctp-overlay1: #8c8fa1;
    --ctp-overlay0: #9ca0b0;
    --ctp-surface2: #acb0be;
    --ctp-surface1: #bcc0cc;
    --ctp-surface0: #ccd0da;
    --ctp-base: #eff1f5;
    --ctp-mantle: #e6e9ef;
    --ctp-crust: #dce0e8;
}

html {
    background-color: var(--ctp-base);
    background-image: radial-gradient(circle, var(--ctp-overlay0) 0.8px, transparent 0.8px), radial-gradient(circle, var(--ctp-overlay0) 0.8px, transparent 0.8px);
    background-size: 5px 20px, 20px 5px;
    background-position: -2.5px -10px, -10px -2.5px;
}

body {
    color: var(--ctp-text);
    font-family: "Google Sans Code", monospace;
    font-optical-sizing: auto;
    font-weight: 300;
    font-size: 2rem;
    font-style: normal;
    font-variation-settings:
        "MONO" 1;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100svh;
    margin: 0;
}

h1 {
    font-size: 4.5em;
    font-family: "VT323";
    grid-column: span 3;
    /* Makes this item take up all 3 columns */
    white-space: nowrap;
}

.content-container {
    display: inline-grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
}

.file-content-container {
    display: inline-grid;
    grid-template-columns: 1fr 2em;
    grid-template-rows: 2em 1fr;
    width: calc(100vw - 128px);
    height: calc(100vh - 128px);
    background-color: var(--ctp-surface0);
    border-color: var(--ctp-text);
    border-style: solid;
}

.file {
    text-align: center;
}

.os-icon {
    font-size: 4em;
}

a {
    text-decoration: none;
    color: inherit;
}

.close-btn {
    font-size: 2em;
    float: right;
    background-color: var(--ctp-overlay2);
}

h2 {
    font-weight: 400;
    font-size: 1em;
    margin: 0;
    padding: 4px;
}

.file-title {
    height: 100%;
    background-color: var(--ctp-overlay2);
    display: flex;
    align-items: center;
}